SPTR/.vs/SPTR/v14/.suo
*.pdb
SPTR/SPTR/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SPTR/SPTR/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.txt
SPTR/SPTR/obj/Debug/SPTR.csproj.GenerateResource.Cache
*.exe
*.suo
SPTR/.vs/SPTR/v14/.suo
SPTR/SPTR/bin/
SPTR/SPTR/obj/
